<md-toolbar class="md-medium-tall md-whiteframe-24dp" md-scroll-shrink layout-padding layout="row" ng-controller="header-controller">
    <img ng-src="{{brand.imgUrl}}" alt="logo syarikat" class="header-img" ng-click="locate('')"/>
    <div flex>
        <div layout="row">
            <span class="md-display-2" flex md-truncate>{{ brand.name }}</span>

            <md-menu-bar class="header">
             <md-menu ng-repeat="menu in menulist">
               <md-button ng-click="openpg($mdMenu, menu.url)">
                 {{ menu.name }}
               </md-button>
               <md-menu-content>
                 <md-menu-item ng-if="menu.subs" type="checkbox" ng-repeat="sub in menu.subs" ui-sref="{{ sub.sref }}">{{ sub.name }}</md-menu-item>
               </md-menu-content>
             </md-menu>
            </md-menu-bar>
        </div>
    </div>
</md-toolbar>

<!-- <div class="brand"">
  <img >
  <div class="brand-title">
    <span class="md-headline"></span>
  </div>
</div>

<div class="header-menu">
  <md-button  ng-click="locate(menu.url)">
    
  </md-button>
</div> -->