<div layout="column">
	<div flex>
		<h1>{{ display }}</h1>
	</div>
	<div layout="row">
		<div flex>
			<md-button ng-click="clrent()"><h1>ce</h1></md-button>
			<md-button ng-click="clrall()"><h1>c</h1></md-button>
			<md-button ng-click="bspce()"><h1>bp</h1></md-button>
			<md-button ng-click="ops(4)"><h1>÷</h1></md-button>
		</div>
	</div>
	<div layout="row">
		<div flex>
			<md-button ng-click="num(7)"><h1>7</h1></md-button>
			<md-button ng-click="num(8)"><h1>8</h1></md-button>
			<md-button ng-click="num(9)"><h1>9</h1></md-button>
			<md-button ng-click="ops(3)"><h1>×</h1></md-button>
		</div>
	</div>
	<div layout="row">
		<div flex>
			<md-button ng-click="num(4)"><h1>4</h1></md-button>
			<md-button ng-click="num(5)"><h1>5</h1></md-button>
			<md-button ng-click="num(6)"><h1>6</h1></md-button>
			<md-button ng-click="ops(2)"><h1>-</h1></md-button>
		</div>
	</div>
	<div layout="row">
		<div flex>
			<md-button ng-click="num(1)"><h1>1</h1></md-button>
			<md-button ng-click="num(2)"><h1>2</h1></md-button>
			<md-button ng-click="num(3)"><h1>3</h1></md-button>
			<md-button ng-click="ops(1)"><h1>+</h1></md-button>
		</div>
	</div>
	<div layout="row">
		<div flex>
			<md-button ng-click="posnev()"><h1>+/-</h1></md-button>
			<md-button ng-click="num(0)"><h1>0</h1></md-button>
			<md-button ng-click="num('.')"><h1>.</h1></md-button>
			<md-button ng-click="total()"><h1>=</h1></md-button>
		</div>
	</div>
</div>