<div ng-if="slides">
  <center class="slideshow">
    <img ng-src="{{slideshows[id].imgUrl}}" class="slideshow-img">
    <div class="slideshow-caption">
      <h2>{{ slideshows[id].title }}</h2>
      <p>{{ slideshows[id].caption }}</p>
    </div>
  </center>
  <md-icon ng-repeat="slide in slideshows" ng-click="set($index)">
    stars
  </md-icon>
</div>

<md-content class="md-padding" layout-sm="column" layout="row">

  <md-card md-theme="default" class="md-whiteframe-10dp" flex-md flex-gt-md="33" ng-repeat="app in cards">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ app.title }}</span>
        <span class="md-subhead">{{ app.desc }}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media">
          <img ng-src="{{ app.img }}" alt="">
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="assign(app.funame1)">{{ app.funame1 }}</md-button>
      <md-button ng-click="assign(app.funame2)">{{ app.funame2 }}</md-button>
    </md-card-actions>
  </md-card>

</md-content>




<md-button ui-sref="home">HOme</md-button>
<md-button ng-click=count()>count {{items}}</md-button>
<md-button ng-mouseenter="openNav('left')">left nav</md-button>
<md-button ng-mouseenter="openNav('right')">right nav</md-button>

<div ui-view="leftnav"></div>
<div ui-view="rightnav"></div>
<div ui-view="content">
  <md-button ui-sref="signin">signin</md-button>
</div>

<md-menu>
  <md-button 
  class="md-fab md-fab-bottom-right"
   ng-mouseenter="$mdMenu.open()">
    <md-icon>beach_access</md-icon>
  </md-button>
  <md-menu-content ng-mouseleave="$mdMenu.close()">
    <md-menu-item>
      <md-button>
        N33d Help?
      </md-button>
      <md-button>
        payung
      </md-button>
      <md-button>
        Option
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
