<!doctype html>
<html ng-app="pitxweb">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- bower:css -->
        <!-- endbower -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="src/css/main.css">
        <base href="/">
    </head>
    <body>
        <md-toolbar class="md-medium-tall md-whiteframe-24dp" md-scroll-shrink layout-padding layout="row">
            <img src="tile.jpg" class="header-img">
            <div flex>
                <div layout="row">
                    <span class="md-display-1" flex md-truncate>Toos</span>

                    <md-menu-bar class="header">
                     <md-menu>
                       <md-button ng-click="$mdMenu.open()">
                         Sample Menu
                       </md-button>
                       <md-menu-content>
                         <md-menu-item type="checkbox" ng-model="settings.allowChanges">Allow changes</md-menu-item>
                         <md-menu-divider></md-menu-divider>
                         <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 1</md-menu-item>
                         <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 2</md-menu-item>
                         <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 3</md-menu-item>
                       </md-menu-content>
                     </md-menu>
                     <md-menu>
                       <md-button ng-click="$mdMenu.open()">
                         Sample Menu
                       </md-button>
                       <md-menu-content>
                         <md-menu-item type="checkbox" ng-model="settings.allowChanges">Allow changes</md-menu-item>
                         <md-menu-divider></md-menu-divider>
                         <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 1</md-menu-item>
                         <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 2</md-menu-item>
                       </md-menu-content>
                     </md-menu>
                    </md-menu-bar>
                </div>
            </div>
        </md-toolbar>

        <!-- uiview injector -->
        <!-- <header class="header md-whiteframe-24dp" ui-view="header"></header> -->
        <md-content layout-padding ui-view="body" class="body"></md-content>
        <div ui-view="footer"></div>

        <!-- bower:js -->
        <!-- endbower -->
        <script src="src/js/main.js"></script>
        <script src="src/js/uirconfig.js"></script>
        <script src="src/js/ngMatconfig.js"></script>
        <script src="src/js/directive.js"></script>
        <script src="src/component/header/header.js"></script>
        <script src="src/component/footer/footer.js"></script>
        <script src="src/body/content/frontpage.js"></script>
    </body>
</html>
